<app-home-nav></app-home-nav>

<div class="about">
    <div>
        <h2>About Us</h2>
        <p>
            Assessny is a start-up company that was established in 2020 that has gone through many stages during which
            it has developed... It was established by a group of pioneering young people who aspire to create a
            developed environment and help in the renaissance of their country
            Assessny company specialized in establishing advanced technological educational systems and structures.
        </p>
    </div>
</div>
<app-home-footer></app-home-footer>