<footer id="footer position-relative">
    
    <div class="container py-5 mt-3">
        <div class="row">

            <div class="col-sm-4 position-relative">
                <div class="img-logo">
                    <div class="img-content">
                        <div class="content-image">
                            <img src="assets/images/footerImage/logo.png" class="img-fluid " alt="اسسني">

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-8 declare-parent">
                <div class=" declare">
                    <p class="text-center">An interactive educational environment that serves the community from the
                        services of Assessny,
                        which is concerned with providing an educational environment for university students in various
                        fields through courses in skill development, various sciences, and interactive workshops.
                        ,, in order to prepare a generation capable of facing the challenges that exist in the real
                        labor market and directing their views towards developing the surrounding environment.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom w-100 py-1">
        <div class="bottom-icons w-100 m-auto  d-flex justify-content-center">
            <div class="social">
                <a href="#" class="text-white">
                    <i class="fab fa-facebook-f p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-instagram p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-twitter p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-youtube p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-linkedin p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-telegram p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-whatsapp p-2"></i>
                </a>


            </div>
        </div>
    </div>
</footer>