<section class="header">
    <div class="header-icons pt-3">
        <img src="assets/images/header_images/bg-icons.png" class="w-75" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="about-assessny col-lg-3 d-none d-lg-block rounded-3">
                <h3 class="fs-5">Assessny Community
                </h3>
                <p class="text-black-500">
                    An interactive educational environment that serves the community from the services of Assessny,
                    which is concerned with providing an educational environment for university students in various
                    fields through courses in skill development.

                </p>
            </div>
            <div class="header-illustration col-lg-6  col-md-12
            ">
                <img src="assets/images/header_images/Illustation.png" alt="" class="img-fluid">
            </div>
            <div class="header-logo col-2 mt-5 d-none d-lg-block">
                <img src="assets/images/header_images/Logo.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>

</section>

<div class="container">
    <div class="socialmedia">
        <a href="https://www.facebook.com/Assessnycommunity/" target="_blank"><i
                class="fa-brands fa-facebook-f mx-4 fa-2x"></i></a>

        <a href="#" target="_blank"><i class="fa-brands fa-instagram  mx-4 fa-2x"></i></a>

        <a href="#" target="_blank"><i class="fa-brands fa-twitter  mx-4 fa-2x"></i></a>

        <a href="https://youtube.com/channel/UCDAzhpq_9c1T61HGgOg_I0A" target="_blank"><i
                class="fa-brands fa-youtube mx-4 fa-2x"></i></a>

        <a href="https://www.linkedin.com/company/assessny/" target="_blank"><i
                class="fa-brands fa-linkedin mx-4 fa-2x"></i></a>

        <a href="#" target="_blank"><i class="fa-brands fa-telegram mx-4 fa-2x"></i></a>

        <a href="#" target="_blank"><i class="fa-brands fa-whatsapp mx-4 fa-2x"></i></a>

    </div>
</div>