<footer id="footer position-relative">

    <div class="container py-5 mt-3">
        <div class="row">

            <div class="col-sm-4 position-relative">
                <div class="img-logo">
                    <div class="img-content">
                        <div class="content-image">
                            <img src="assets/images/Home/comingsoon/logo.png" class="img-fluid " alt="اسسني">

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-8 declare-parent">
                <div class="text-center clare">
                    <p>a platform and application that specializes in providing a developed educational environment for
                        both (teachers - doctors - professional trainers) and anyone who wants to provide educational
                        content in any field, and on the other hand, it allows students and learners of all academic and
                        university levels to benefit from it as well.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom w-100 py-1">
        <div class="bottom-icons w-100 m-auto  d-flex justify-content-center">
            <div class="social">
                <a href="https://www.facebook.com/Assessny/" target="_blank" class="text-white">
                    <i class="fab fa-facebook-f p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-instagram p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-twitter p-2"></i>
                </a>
                <a href="https://youtube.com/channel/UCDAzhpq_9c1T61HGgOg_I0A" target="_blank" class="text-white">
                    <i class="fab fa-youtube p-2"></i>
                </a>
                <a href="https://www.linkedin.com/company/assessny/" class="text-white" target="_blank">
                    <i class="fab fa-linkedin p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-telegram p-2"></i>
                </a>
                <a href="#" class="text-white">
                    <i class="fab fa-whatsapp p-2"></i>
                </a>


            </div>
        </div>
    </div>
</footer>