
        <div class="sidnav">
  
            <ul class="list-unstyled">
                <li></li>
                <li class="nav-item">
                    <a routerLink="main" class="nav-link">
                        <span class="icon">
                            <i class="fa-solid fa-house"></i>
                        </span>
                        <span class="title">الرئيسية</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="video" class="nav-link">
                        <span class="icon">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                        <span class="title">الفيديوهات</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a  routerLink="exams" class="nav-link">
                        <span class="icon">
                            <i class="bi bi-layout-text-window"></i>
                        </span>
                        <span class="title">الامتحانات</span>
                    </a>
                </li>
            </ul>
        </div>
