
<nav class="navbar navbar-expand-lg sticky-top shadow px-3 mb-0 bg-white nav">

        <div class="imgSection darkBlueGradient">
            <a class="navbar-brand   m-0 p-0 " href="#">
                <img class="image" src="assets/images/Home/comingsoon/logow.png" alt="Assessny">
            </a>
        </div>
        <form class="d-flex">
            <div class="search">
                <label class="">
                    <input type="text" placeholder="search ">
                    <i class="sIcon fa fa-search" aria-hidden="true"></i>
                </label>
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse head" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center">
                <li class="nav-item mx-2">
                    <a href="#" class="nav-link">
                       عنا
                    </a>
                </li>
    
                <li class="nav-item mx-2">
                    <a href="#" class="nav-link">
                        وحدة التحكم
                    </a>
                </li>
    
                <li class="nav-item mx-2">
                    <a href="#" class="nav-link">
                       مجتمع أسسني
                    </a>
                </li>
                <li class="nav-item mx-2">
                   <a href="#" class="nav-link">
                       الرئيسية
                   </a>
               </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-between align-items-end" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <ul class="d-flex justify-content-center align-items-center">
                    <li class="nav-item list-unstyled mt-3">
                        <a href="#" class="d-flex text-decoration-none text-dark"> 
                            <h3 class="" dir="ltr"><span class="fs-5 mx-2">مرحبا</span> حامد</h3>
                            <img class="img" src="../../../../assets/images/nanbar_images/user.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

</nav>

<!--
<div class="header">
    <div class="main-topbar">


        
   
     <div class="search">
         <label class="">
             <input type="text" placeholder="search ">
             <i class="sIcon fa fa-search" aria-hidden="true"></i>
         </label>
     </div>
     <div class="head">
         <ul class="d-flex justify-content-between align-items-center p-0 m-0 list-unstyled">
             <li class="nav-item mx-2">
                 <a href="#" class="nav-link">
                    عنا
                 </a>
             </li>
 
             <li class="nav-item mx-2">
                 <a href="#" class="nav-link">
                     وحدة التحكم
                 </a>
             </li>
 
             <li class="nav-item mx-2">
                 <a href="#" class="nav-link">
                    مجتمع أسسني
                 </a>
             </li>
             <li class="nav-item mx-2">
                <a href="#" class="nav-link">
                    الرئيسية
                </a>
            </li>
         </ul>
     </div>

     <div class="name d-flex">
         <p class="text-dark fs-5"> <span class="mx-1 fs-6">مرحبا </span>حسن علي  </p>
     </div>
     <div class="user">
         <img src="../../../../assets/images/nanbar_images/user.png">
     </div>
    </div>
</div>-->


 <!-- <div class="toggle">
         <i class="fa-solid fa-bars"></i>
     </div>-->