<div class="seasons">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button season-full-name rounded-pill darkBlueGradient" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <span class="seasonname">Season</span> <span class="season-number">1</span>
                        <span class="season-slogan"> خطوة على الطريق </span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="season-main">
                            <div class="container">
                                <div class="row p-3 justify-content-between">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="assets/images/seasons/season1 heading.png">
                                    </div>
                                    <div class="col-md-6 p-5">
                                        <h3 class="heading-season  heading-text">خطوة على الطريق</h3>
                                        <p class="text-dark-color text-season">كل طريق بدايتة بتكون خطوة عشان تحقق
                                            النجاح ولو النجاح سهل كان زمان كل الناس نجحت
                                            وده كان الهدف الاساسي اللي اتعمل عشانه اسسني
                                            ف اول سيزون لينا قدرنا اننا نوفر مدربين علي مستوي ف كل كوميتي عندنا ومش كده
                                            وبس ف ختام السيزون عملنا سيشنات الكبسولة عشان نحاول نساعد اكبر عدد من الطلاب
                                            مش بس اللميمبر بتوعنا و وفرنا سيشنات مكنتش موجوده من بداية السيزون

                                            اول سيزون خلص بكل التحديات بتاعته اللي قدرنا اننا نتغلب عليها وانتظار بداية
                                            السيزون التاني وديما ف نجاح </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- speakers -->
                        <div class="speakers-main">
                            <h2 class="main-heading-sections">OUR <span>SPEAKERS</span></h2>
                            <div class="w-75 m-auto mt-5">
                                <div class="row justify-content-between">
                                    <div class="col-md-6 mt-5 left-speakers">
                                        <div class="col-md-12 speaker position-relative" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <img class="img-fluid" src="assets/images/seasons/speaker 1.png" alt="">
                                            <div class="speaker-info">
                                                <h3 class="speaker-name">
                                                    <div class="firstname">
                                                        Omar
                                                    </div>
                                                    Elsaman
                                                </h3>
                                                <p class="speaker-desc">Training & Development
                                                    Specialist at Nile Projects
                                                    &Trading Co. NPTCO</p>
                                                <div class="speaker-topic">HR</div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6 right-speakers">
                                        <div class="col-md-12 speaker position-relative" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal2">
                                            <img class="img-fluid" src="assets/images/seasons/speaker 2.png" alt="">
                                            <div class="speaker-info">
                                                <h3 class="speaker-name">
                                                    <div class="firstname">
                                                        Nader
                                                    </div>
                                                    Ibrahem
                                                </h3>
                                                <p class="speaker-desc">Social media specialist</p>
                                                <div class="speaker-topic">Marketing</div>


                                            </div>
                                        </div>


                                    </div>
                                    <!-- Button trigger modal -->


                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-
                                        labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="exampleModalLabel">Omar
                                                        <span>Elsaman</span>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul>
                                                        <!-- • 
• 
• 
• 
• 
#Student Activities :
• 
• Former HR trainer at ENACTUS New BSU 
• Former Head of training section at Coimpact FCES
• Former HR Trainer at Coimpact FCES
• Former Head of Capacity Building at
Model of Ministry of Foreign Affairs " MOMFA "
• Former HR Trainer at CAPMAS Simulation project -->
                                                        <li>
                                                            Training & Development
                                                            Specialist at Nile Projects &Trading Co. NPTCO
                                                        </li>
                                                        <li>HR Generalist at Shwar3na company .</li>
                                                        <li>General Trainer at The American Institute For Applied
                                                            Education "AIAE" .</li>
                                                        <li>Marketing Manager Middle East at Swiss Goal (Switzerland
                                                            Company).</li>
                                                        <li>HR Manager at The Academy .

                                                        </li>
                                                        <li>HR Trainee at HR Council LLC .
                                                        </li>
                                                        <li>HR Trainer at the Leader academy for training and consulting
                                                            .

                                                        </li>
                                                        <li>HR Manager at Diwan Academy .</li>
                                                    </ul>
                                                    <h5>Student Activities
                                                    </h5>
                                                    <ul>
                                                        <li>Former HR Director at ENACTUS New BSU
                                                        </li>
                                                        <li>Former HR trainer at ENACTUS New BSU
                                                        </li>
                                                        <li> Former Head of training section at Coimpact FCES
                                                        </li>
                                                        <li>Former HR Trainer at Coimpact FCES</li>
                                                        <li> Former Head of Capacity Building at
                                                            Model of Ministry of Foreign Affairs " MOMFA "
                                                        </li>
                                                        <li> Former HR Trainer at CAPMAS Simulation project</li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-
                                        labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="exampleModalLabel">Nader
                                                        <span>Ebraheam</span>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul>
                                                        <li>Freelancing Marketing and Advertising Specialist.</li>
                                                        <li>Managing partner at World Academy.</li>
                                                        <li>Marketing Manager Middle East at Swiss Goal (Switzerland
                                                            Company).</li>
                                                        <li>Marketing Manager at Graphic plus for advertising.
                                                        </li>
                                                        <li>Marketing Candidate at Marketing With Amir "M.W.A".
                                                        </li>
                                                        <li>Marketing Manager at BoxCart (Kuwait Company).

                                                        </li>
                                                    </ul>
                                                    <h5>Student Activities
                                                    </h5>
                                                    <ul>
                                                        <li>Former Marketing member at ENACTUS New BSU.
                                                        </li>
                                                        <li>Former Vice IT at ENACTUS New BSU.
                                                        </li>
                                                        <li> Former Marketing Member at Coimpact FCES.
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>

                        </div>
                        <!-- season board -->
                        <div class="board pt-5">
                            <h2 class="main-heading-sections mb-5">Our <span>Board</span></h2>
                        </div>
                        <app-board-slider></app-board-slider>

                        <!-- season gallery and videos -->
                        <div class="gallery position-relative">
                            <div class="top-gallery-img">
                                <img src="assets/images/gallery/topimagegallery.png" alt="">

                            </div>
                            <div>
                                <div class="gallery-container mt-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 photo-slider-gallery">
                                                <div class="container">
                                                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                                        [config]="slideConfig" (init)="slickInit($event)"
                                                        (breakpoint)="breakpoint($event)"
                                                        (afterChange)="afterChange($event)"
                                                        (beforeChange)="beforeChange($event)">
                                                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                                            <div class="card board-card">
                                                                <img class="card-img-top" src="{{ slide.img }}">
                                                            </div>
                                                        </div>
                                                    </ngx-slick-carousel>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row py-1">
                                                    <div class="col-md-12">
                                                        <video class="w-100 firstVideo" src="assets/videos/video1.mp4"
                                                            controls>
                                                            <source src="assets/videos/video1.mp4" type="video/mp4">
                                                        </video>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <video class="w-100" src="assets/videos/video2.mp4" controls>
                                                            <source src="assets/videos/video2.mp4" type="video/mp4">
                                                        </video>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <video class="w-100" src="assets/videos/video3.mp4" controls>
                                                            <source src="assets/videos/video3.mp4" type="video/mp4">
                                                        </video>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>